.git
.gitignore
.gitlab/
.github/
.gitlab-ci.yml
tmp
Dockerfile*
docker-compose*
README.md
public/*
!public/favicon.ico
.env
.byebug_history
dockercfg.encrypted
codeship.aes
Makefile
makefile_src/

app/assets/dart/local_packages
app/assets/dart/packages
app/assets/dart/.packages
app/assets/dart/.pub
app/assets/dart/test/packages

.deploy/
